/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main);
  font-weight: var(--font-weight-body);
  font-variation-settings: 'wght' var(--font-weight-body);
  background-color: var(--background-color);
  color: var(--accent-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 696px;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: var(--background-color);
  border: 2px solid var(--accent-color);
  margin-bottom: 100px;
  padding-top: clamp(120px, 6.346rem + 4.923vw, 136px);
}

.html-logo {
  padding-bottom: 20px;
  font-family: var(--font-accent);
  font-weight: var(--font-weight-body);
  font-size: clamp(49px, 1.909rem + 4.923vw, 65px);
}

.title {
  font-family: var(--font-accent);
  font-weight: var(--font-weight-body);
  font-size: clamp(14px, 0.226rem + 2.769vw, 23px);
  text-transform: uppercase;
  padding-bottom: 25px;
}

.theme-menu {
  padding-bottom: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__button {
  background: none;
  border: none;
  font-family: var(--font-accent);
  font-weight: var(--font-weight-body-light);
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 15px;
  position: relative;
}

.theme-menu__button:disabled,
.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus,
.theme-menu__button:focus-visible {
  outline: none;
}

.theme-menu__button:disabled::before {
  content: '\25B6';
  position: absolute;
  width: 14px;
  height: 14px;
  left: 0;
}

.card {
  background: var(--background-color);
  margin-bottom: 50px;
  border: 2px solid var(--accent-color);
}

.card__title {
  font-family: var(--font-main);
  font-variation-settings: 'wght' var(--font-weight-heading-light);
  font-size: 18px;
  line-height: 22px;
  padding: 3px 24px 3px 10px;
}

.text-block {
  padding: 25px;
  font-family: var(--font-main);
  font-weight: var(--font-weight-heading-light);
  font-size: 18px;
  line-height: 21px;
}

.text-block__paragraph {
  padding-bottom: 27px;
}

.image-wrapper {
  position: relative;
  text-align: center;
  border: 2px solid var(--accent-color);
  border-left: none;
  border-right: none;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}

.image-blur {
  filter: blur(15px);
}

.image-invert {
  filter: invert(85%);
}

.image-sepia {
  filter: sepia(0.9);
}

.image-hue-rotate {
  filter: hue-rotate(25deg);
}

.image-saturate {
  filter: saturate(400%);
}

.image-grayscale {
  filter: grayscale(80%);
}

.image-mix {
  filter: hue-rotate(80deg) invert(25%) blur(2px);
}

.label {
  position: absolute;
  top: 10px;
  right: 20px;
  mix-blend-mode: hard-light;
  font-family: var(--font-accent);
  font-weight: var(--font-weight-body-light);
  font-size: 14px;
  line-height: 14px;
  opacity: 0.5;
  color: var(--label-color);
  text-shadow: 1px 1px var(--label-text-stroke-color),
    -1px -1px var(--label-text-stroke-color),
    -1px 1px var(--label-text-stroke-color),
    1px -1px var(--label-text-stroke-color);
}

@supports (-webkit-text-stroke: 1px var(--label-text-stroke-color)) {
  .label {
    -webkit-text-stroke: 1px var(--label-text-stroke-color);
    text-shadow: none;
  }
}

.like-block {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  padding: 0 25px 25px 0;
}

.card__icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.card__like-button {
  background: none;
  cursor: pointer;
  font-family: var(--font-accent);
  padding: 12.5px 37px;
  border: 2px solid var(--accent-color);
}

.floppy-image {
  stroke: var(--accent-color);
  width: 21px;
  height: 21px;
}

.save-block {
  margin-bottom: 103px;
  display: flex;
  justify-content: center;
}

.button__save-block {
  background: var(--background-color);
}

@media (max-width: 375px) {
  .header {
    min-height: 327px;
  }
}
