/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --background-color: rgba(255, 255, 255, 1);
  --accent-color: rgba(0, 0, 0, 1);
  --font-weight-body: var(--font-weight-body-light);
  --font-weight-heading: var(--font-weight-heading-light);
  --gradient-start: #e7e7e7;
  --gradient-end: #1a1a1a;
  --stripe-color: #d3d3d3;
  --label-color: rgba(0, 0, 0, 1);
  --label-text-stroke-color: rgba(255, 255, 255, 1);
}

:root.theme-dark {
  --background-color: rgba(0, 0, 0, 1);
  --accent-color: rgba(0, 204, 20, 1);
  --font-weight-body: var(--font-weight-body-dark);
  --font-weight-heading: var(--font-weight-heading-dark);
  --gradient-start: #007f0c;
  --gradient-end: #004306;
  --stripe-color: #000;
  --label-color: rgba(0, 204, 20, 1);
  --label-text-stroke-color: rgba(0, 0, 0, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgba(0, 0, 0, 1);
    --accent-color: rgba(0, 204, 20, 1);
    --font-weight-body: var(--font-weight-body-dark);
    --font-weight-heading: var(--font-weight-heading-dark);
    --gradient-start: #007f0c;
    --gradient-end: #004306;
    --stripe-color: #000;
    --label-color: rgba(0, 204, 20, 1);
    --label-text-stroke-color: rgba(0, 0, 0, 1);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: rgba(255, 255, 255, 1);
    --accent-color: rgba(0, 0, 0, 1);
    --font-weight-body: var(--font-weight-body-light);
    --font-weight-heading: var(--font-weight-heading-light);
    --gradient-start: #e7e7e7;
    --gradient-end: #1a1a1a;
    --stripe-color: #d3d3d3;
    --label-color: rgba(0, 0, 0, 1);
    --label-text-stroke-color: rgba(255, 255, 255, 1);
  }
}
